<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <img
            src="http://localhost:3000/public/images/course/_59c89906-738e-45dd-9b45-6499ff406404-1711488780948.png"
            alt="Ảnh khóa học">
    </body>
</html>