<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Nhắc nhở học tiếng Hàn trên Hey Korean!</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 0; padding: 0;
      background-color: #f9f9f9; } .container { max-width: 700px; margin: 0
      auto; background-color: #ffffff; padding: 20px; border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } h2 { color: #0055FF;
      margin-bottom: 20px; } p { margin-bottom: 15px; line-height: 1.5; }
      .cta-button { display: inline-block; background-color: #0055FF; color:
      #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px;
      transition: background-color 0.3s ease; } .cta-button:hover {
      background-color: #0044CC; }
    </style>
  </head>
  <body>
    <div class='container'>
      <table width='100%' cellspacing='0' cellpadding='0' border='0'>
        <tr>
          <td align='center' style='padding-right: 20px;'>
            <img
              src='https://xuanngoc2k2.000webhostapp.com/HinhAnh/nhachoc.png'
              alt='Nhắc học'
              style='max-width: 150px;'
            />
          </td>
          <td>
            <h2>Thời gian để học tiếng Hàn trên "<span
                style='color: #cf1322;'
              >Hey</span><span style='color: #1677ff;'>Korean!</span>"</h2>
            <p>Xin chào {{username}},</p>
            <p>Chúng tôi nhận thấy rằng bạn đã
              {{day}}
              ngày không học tiếng Hàn trên Hey Korean. Đã đến lúc bạn quay lại
              học!</p>
            <p>Việc học một ngôn ngữ mới là một hành trình, và sự kiên nhẫn là
              chìa khóa thành công. Đừng bỏ lỡ các buổi học hàng ngày của bạn!</p>
            <p>Hãy nhớ, bạn càng học nhiều, bạn sẽ trở nên thành thạo hơn!</p>
            <a class='cta-button' href='https://www.heykorean.com/'>Bắt đầu học
              ngay bây giờ!</a>
            <p style='margin-top: 20px;'>Trân trọng,<br />Đội ngũ Hey Korean</p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>